.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}
button:disabled {
    background-color: grey;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
    background-color: darkgreen;
    color: white;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    color: darkred;
    font-weight: bold;
    font-style: italic;
}
